body {
    background-color: #87cefa;
    font-family: 'Inter', sans-serif;


}

body h1 {
    text-align: center;
}



mark {
    background-color: yellow;

}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}



footer {
    background-color:	#87CEFA;
    padding: 3px;
}